---
# Top-level Sass files need some front matter (just this comment is enough).
---


.personList {
}

.affiliateImageContainer {
  width: 24.9999%;
  float: left;
  display: table;
  padding-top: 16px;
}


.liseImageContainer {
  width: 24.9999%;
  display: table;
  float: left;
  padding-top: 16px;
}

.personInfo {
  width: 64.99999%;
  box-sizing: border-box;
  display: inline-block;
  float: right;
  align-content: left;
}

.affiliateEntry {
  display: table;
  border-top: 1px solid lightgray;
  padding-top: 16px;
}

.liseEntry {
  display: table;
  padding-top: 16px;
}

.personName {
  font-weight: bold;
  display: inline-block;
}

.personLocation {

}

.researchInterests {
  font-weight: bold;
}

.currentAffiliation {
  font-weight: bold;
}


.groupTitle {
  font-size: 24pt;
  font-weight: bold;
}

.affiliateImage {
}