---
# Top-level Sass files need some front matter (just this comment is enough).
---


.personList {
    padding-top: 20px;
}

.memberImageContainer {
    width: 24.9999%;
    float: left;
    display: table;
    padding-top: 16px;
}

.advisorImageContainer {
    width: 24.9999%;
    display: table;
    float: left;
    padding-top: 16px;
}

.personInfo {
    width: 64.99999%;
    box-sizing: border-box;
    display: inline-block;
    float: right;
    align-content: left;
}

.memberEntry {
    display: table;
    border-top: 1px solid lightgray;
    padding-top: 16px;
    padding-bottom: 25px;
}

.entrySection {
    margin-bottom: 16px;
}

.contactAndLinks {
    margin-bottom: -4px;
}

.advisorEntry {
    display: table;
    padding-top: 16px;
}

.personName {
    font-size: 20pt;
    font-weight: bold;
    display: inline-block;
    margin-bottom: -10px;
}

.personLocation {

}

.personalLink {
    padding-right: 10px;
}

.researchInterests {
    font-weight: bold;
}

.currentAffiliation {
    font-weight: bold;
}


.groupTitle {
    font-size: 24pt;
    font-weight: bold;
    margin-bottom: -2px;
}

.memberImage {
}

.advisorImage {
      border-radius: 10px;
}
